{% extends 'base.html.twig' %}

{% block title %}Create student!{% endblock %}

{% block body %}

<div class="container">    
    <nav class="navbar navbar-inverse">        
        <ul class="nav navbar-nav">
            <li><a href="/students">View All Student</a></li>
            <li><a href="/students/create">Create a Student</a>
        </ul>
    </nav>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


</div>
{% endblock %}