{% extends 'base.html.twig' %}

{% block title %}Create teacher!{% endblock %}

{% block body %}

<div class="container">    
    <nav class="navbar navbar-inverse">        
        <ul class="nav navbar-nav">
            <li><a href="/teachers">View All teacher</a></li>
            <li><a href="/teachers/create">Create a teacher</a>
        </ul>
    </nav>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


</div>
{% endblock %}